/**
 * SCSS Document
 * Created: 2016-03-29
 * Login screen style
 * @author Augusto Russo
 */

/**
 * Imports
 */
@import 'mixins.scss';

/**
 * Rules
 */
.home {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    cursor: default;

    .welcome {
        color: white;
        text-transform: capitalize;
        letter-spacing: .2rem;
    }

    .menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: stretch;

        .menu-divider {
            flex-grow: 1;

            .menu-item {
                padding: 60px;
                color: white;
                text-transform: uppercase;
                letter-spacing: .1rem;
                cursor: pointer;

                @include transition(.3s);
            }

            .menu-item:hover {
                color: #ff5722;
            }

            .vertical {
                flex-basis: 10;
                height: 100%;
                margin: 5px;
                line-height: 12em;
            }

            .horizontal {
                flex: 1 0;
            }

            .horizontal:first-child {
                margin: 5px 5px 5px 0px;
            }

            .horizontal:nth-child(2) {
                margin: 5px 5px -5px 0px;
            }
        }
    }
}

/**
 * Responsive
 */

/* SMARTPHONES */
@media only screen and (min-width: 320px) and (max-width: 479px) {

    .home {

        overflow: auto;

         .firewow-logo {
            left: 0px;
            right: 0px;
        }

        .welcome {
            margin-top: 100px;
        }

        .valign-wrapper {
            display: flex
        }

        .menu {
            display: flex;
            flex-flow: column-reverse;

            .menu-divider {

                .menu-item {
                    max-height: 100px;
                    line-height: 1em;
                    padding: 30px;
                }

                .vertical, .horizontal {
                    width: 100%;
                }

                .vertical {
                    margin: 10px 5px 0px 0px;
                }
            }
        }

    }

}

@media only screen and (min-width: 480px) and (max-width: 767px)  {
    .home {

        overflow: auto;

        .firewow-logo {
            left: 0px;
            right: 0px;
        }

        .welcome {
            margin-top: 100px;
        }

        .valign-wrapper {
            display: flex
        }

        .menu {
            display: flex;
            flex-flow: column-reverse;

            .menu-divider {

                .menu-item {
                    max-height: 100px;
                    line-height: 1em;
                    padding: 30px;
                }

                .vertical, .horizontal {
                    width: 100%;
                }

                .vertical {
                    margin: 10px 5px 0px 0px;
                }
            }
        }

    }

}
