/**
 * SCSS Document
 * Created: 2016-03-29
 * Login screen style
 * @author Augusto Russo
 */

/**
 * Imports
 */
@import 'mixins.scss';

/**
 * Rules
 */
.rules {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: default;

   .modal {

       .modal-content {
           form {
               padding: 55px;
           }
       }
   }

   .app-loader {
       position: relative;

       .done {
           color: #4CAF50;
           float: right;
           margin-top: -70px;
           border-radius: 100%;
           overflow: hidden;
           padding: 7px;
           background-color: white;
           height: 50px;
           width: 50px;

           i {
               font-size: 2em;
               line-height: 1.2em;
           }
       }

       .loader {
           float: right;
           margin-top: -70px;
           border-radius: 100%;
           overflow: hidden;
           padding: 7px;
           background-color: white;
           height: 50px;
           width: 50px;

           .loader-text {
               color: white;
               white-space: nowrap;
               position: absolute;
               margin-top: -35px;
               margin-left: 50px;
           }

           .preloader-wrapper {
               border-radius: 100%;
           }
       }

   }



    .rules-panel {
        position: relative;
        display: block;

        .rules-action-bar {
            max-height: 50px;
            height: 50px;
            padding: 5px;

            border-style: solid;
            border-color: white;
            border-width: 1px;

            ul {
                display: inline-block;
                float: right;
                margin: 0;
                height: 50px;
                padding: 5px;
            }

            ul li {
              display: inline-block;
              margin: 0px 10px 0 10px;
            }

            ul li i {
                @include transition(.3s);
                cursor: pointer;
                font-size: 2em;
            }

            ul li i:hover {
                color: #9e9e9e;
            }

            div {
                float: left;
                height: 50px;
                text-align: center;
                line-height: 2.5em;
            }
        }

        .rules-list-wrapper {

            border-style: solid;
            border-color: white;
            padding: 5px;
            border-width: 0px 1px 1px 1px;

            .rules-list {
                margin: 0;
                width: 100%;
                min-height: 500px;
                max-height: 500px;
                overflow: auto;

                li {
                    max-height: 50px;
                    height: 50px;
                    padding: 5px;
                    color: white;
                    text-align: left;
                    line-height: 2.7em;
                    margin: 2px;

                    &.accept {
                        background-color: #4caf50;
                    }

                    &.drop {
                        background-color: #f44336;
                    }

                    &.drop .rule-actions {
                        background-color: #b71c1c;
                        float: right;
                        height: 50px;
                        padding: 8px;
                        line-height: 3.2em;
                        margin-top: -5px;
                        margin-right: -5px;
                        display: flex;
                        align-items: center;

                        i {
                            margin: 0 5px 0 5px;
                            cursor: pointer;
                            @include transition(.3s);
                        }

                        i:hover {
                            color: #f44336;
                        }
                    }

                    &.accept .rule-actions {
                        background-color: #2e7d32;
                        float: right;
                        height: 50px;
                        padding: 8px;
                        line-height: 3.2em;
                        margin-top: -5px;
                        margin-right: -5px;
                        display: flex;
                        align-items: center;

                        i {
                            margin: 0 5px 0 5px;
                            cursor: pointer;
                            @include transition(.3s);
                        }

                        i:hover {
                            color: #4caf50;
                        }
                    }
                }
            }
        }

        .rules-reminder {
            color: white;
            text-align: left;
            padding: 10px;

            span {
              display: block;
            }
        }
    }

}
