/**
 * SCSS Document
 * Created: 2016-03-29
 * Traffic screen style
 * @author Augusto Russo
 */

/**
 * Imports
 */
@import 'mixins.scss';

.traffic {
    cursor: default;
    overflow: hidden;

    div {
        margin-top: 5%;
        color: white;
        text-transform: capitalize;
        letter-spacing: .2rem;
        @include borderRadius(3px);

        h4 {
            text-transform: uppercase;
            margin-bottom: 100px;
            background-color: #2196F3 !important;
            padding: 15px;
        }
    }


}

/**
 * Responsive
 */

/* SMARTPHONES */
@media only screen and (max-height: 700px) {
    .traffic {

        overflow: auto;

        .firewow-logo {
            margin-top: 0px;
        }

        .brand {
            margin-top: 100px;
        }

        .tools {
            div {
                flex-basis: 100%;
            }
        }

    }
}


@media only screen and (min-width: 320px) and (max-width: 479px) {

    .traffic {

        overflow: auto;

        h4 {
            margin-top: 100px;
        }

        .firewow-logo {
            margin-top: 0px;
        }

        .tools {
            div {
                flex-basis: 100%;
            }
        }

    }

}

@media only screen and (min-width: 480px) and (max-width: 767px)  {
    .traffic {

        overflow: auto;

        .firewow-logo {
            margin-top: 0px;
        }

        h4 {
            margin-top: 100px;
        }

        .tools {
            div {
                flex-basis: 100%;
            }
        }

    }
}
